@import "tailwindcss";

@theme {
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
}
